<!DOCTYPE html>
<html lang="en">
    <%- include('./../partials/_head.ejs') %>

    <body id="index">
        <%- include('./../partials/_navbar.ejs') %>

            <section class="App">
                <div class="CONTAINER">

                    <form class="form">
                        <h2 class="form__heading">Add new task</h2>

                        <div class="form__item">
                            <input class="form__item__input" id="task" type="text" maxlength="30">
                            <label class="form__item__label" for="task">Enter your new task.</label>
                        </div>

                        <button class="form__btn" type="submit">submit</button>
                    </form>

                    <main class="tasks">
                        <% if (tasks.length > 0) { %>
                            <% tasks.forEach((task) => { %>
                                <% if (!task.isCompleted) {%> 
                                    <article class="tasks__task">
                                        <picture class="tasks__task__picture">
                                            <i class="tasks__task__picture__icon fa-regular fa-hourglass-half"></i>
                                        </picture>

                                        <p class="tasks__task__text"><%= task.name %> </p>

                                        <div class="tasks__task__buttons">
                                                <button class="tasks__task__buttons__button" onclick="location.href = '/tasks/task/<%= task.id %>'">
                                                    <i class="tasks__task__buttons__button__icon fa-solid fa-pen-to-square"></i>
                                                </button>
                                            <button class="tasks__task__buttons__button">
                                                <i class="tasks__task__buttons__button__icon fa-solid fa-trash"></i>
                                            </button>
                                        </div>
                                    </article>
                                <% } %>
                            <% }) %>
                        <% } else { %>
                            <p>no tasks to display</p>
                        <% } %>
                    </main>
                </div>
            </section>
        <%- include('./../partials/_footer.ejs') %>
    </body>

</html>